################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Furniture Renting/v17/.wsuo
/.vs/Furniture Renting/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
/FurnitureRentingAPI/.vs/FurnitureRentingAPI/config/applicationhost.config
/FurnitureRentingAPI/.vs/FurnitureRentingAPI/DesignTimeBuild/.dtbcache.v2
/FurnitureRentingAPI/.vs/FurnitureRentingAPI/FileContentIndex/3b7131bd-349e-4d72-b009-f8dfb578a403.vsidx
/FurnitureRentingAPI/.vs/FurnitureRentingAPI/FileContentIndex/4369827e-cb3e-4ae0-a717-913bcc476a2c.vsidx
/FurnitureRentingAPI/.vs/FurnitureRentingAPI/FileContentIndex/70bb5682-ba3e-4b2f-a832-090c0ef328c3.vsidx
/FurnitureRentingAPI/.vs/FurnitureRentingAPI/FileContentIndex/effdb069-d0fc-47be-bec1-8f9ed9bdc8b8.vsidx
/FurnitureRentingAPI/.vs/FurnitureRentingAPI/FileContentIndex/f9f43008-42a5-4698-989d-6b1980660df0.vsidx
/FurnitureRentingAPI/.vs/FurnitureRentingAPI/FileContentIndex/read.lock
/FurnitureRentingAPI/.vs/FurnitureRentingAPI/v17/.futdcache.v2
/FurnitureRentingAPI/.vs/FurnitureRentingAPI/v17/.suo
/FurnitureRentingAPI/.vs/FurnitureRentingAPI/v17/DocumentLayout.json
/FurnitureRentingAPI/.vs/ProjectEvaluation/furniturerentingapi.metadata.v7.bin
/FurnitureRentingAPI/.vs/ProjectEvaluation/furniturerentingapi.projects.v7.bin
/FurnitureRentingAPI/BussinessAccessLayer/bin/Debug/net6.0/Domain.pdb
/FurnitureRentingAPI/BussinessAccessLayer/bin/Debug/net6.0/Infrastructure.pdb
/FurnitureRentingAPI/BussinessAccessLayer/obj/Debug/net6.0/Infrastr.15EFFBFE.Up2Date
/FurnitureRentingAPI/BussinessAccessLayer/obj/Debug/net6.0/Infrastructure.AssemblyInfo.cs
/FurnitureRentingAPI/BussinessAccessLayer/obj/Debug/net6.0/Infrastructure.AssemblyInfoInputs.cache
/FurnitureRentingAPI/BussinessAccessLayer/obj/Debug/net6.0/Infrastructure.assets.cache
/FurnitureRentingAPI/BussinessAccessLayer/obj/Debug/net6.0/Infrastructure.csproj.AssemblyReference.cache
/FurnitureRentingAPI/BussinessAccessLayer/obj/Debug/net6.0/Infrastructure.csproj.BuildWithSkipAnalyzers
/FurnitureRentingAPI/BussinessAccessLayer/obj/Debug/net6.0/Infrastructure.csproj.CoreCompileInputs.cache
/FurnitureRentingAPI/BussinessAccessLayer/obj/Debug/net6.0/Infrastructure.csproj.FileListAbsolute.txt
/FurnitureRentingAPI/BussinessAccessLayer/obj/Debug/net6.0/Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/FurnitureRentingAPI/BussinessAccessLayer/obj/Debug/net6.0/Infrastructure.pdb
/FurnitureRentingAPI/BussinessAccessLayer/obj/Debug/net6.0/Infrastructure.sourcelink.json
/FurnitureRentingAPI/BussinessAccessLayer/obj/Infrastructure.csproj.nuget.dgspec.json
/FurnitureRentingAPI/BussinessAccessLayer/obj/Infrastructure.csproj.nuget.g.props
/FurnitureRentingAPI/BussinessAccessLayer/obj/project.assets.json
/FurnitureRentingAPI/BussinessAccessLayer/obj/project.nuget.cache
/FurnitureRentingAPI/DataAccessLayer/bin/Debug/net6.0/Domain.pdb
/FurnitureRentingAPI/DataAccessLayer/obj/Debug/net6.0/Domain.AssemblyInfo.cs
/FurnitureRentingAPI/DataAccessLayer/obj/Debug/net6.0/Domain.AssemblyInfoInputs.cache
/FurnitureRentingAPI/DataAccessLayer/obj/Debug/net6.0/Domain.assets.cache
/FurnitureRentingAPI/DataAccessLayer/obj/Debug/net6.0/Domain.csproj.AssemblyReference.cache
/FurnitureRentingAPI/DataAccessLayer/obj/Debug/net6.0/Domain.csproj.BuildWithSkipAnalyzers
/FurnitureRentingAPI/DataAccessLayer/obj/Debug/net6.0/Domain.csproj.CoreCompileInputs.cache
/FurnitureRentingAPI/DataAccessLayer/obj/Debug/net6.0/Domain.csproj.FileListAbsolute.txt
/FurnitureRentingAPI/DataAccessLayer/obj/Debug/net6.0/Domain.GeneratedMSBuildEditorConfig.editorconfig
/FurnitureRentingAPI/DataAccessLayer/obj/Debug/net6.0/Domain.genruntimeconfig.cache
/FurnitureRentingAPI/DataAccessLayer/obj/Debug/net6.0/Domain.pdb
/FurnitureRentingAPI/DataAccessLayer/obj/Domain.csproj.nuget.dgspec.json
/FurnitureRentingAPI/DataAccessLayer/obj/Domain.csproj.nuget.g.props
/FurnitureRentingAPI/DataAccessLayer/obj/project.assets.json
/FurnitureRentingAPI/DataAccessLayer/obj/project.nuget.cache
/FurnitureRentingAPI/FurnitureRentingAPI/bin/Debug/net6.0/Domain.pdb
/FurnitureRentingAPI/FurnitureRentingAPI/bin/Debug/net6.0/FurnitureRentingAPI.deps.json
/FurnitureRentingAPI/FurnitureRentingAPI/bin/Debug/net6.0/FurnitureRentingAPI.exe
/FurnitureRentingAPI/FurnitureRentingAPI/bin/Debug/net6.0/FurnitureRentingAPI.pdb
/FurnitureRentingAPI/FurnitureRentingAPI/bin/Debug/net6.0/Infrastructure.pdb
/FurnitureRentingAPI/FurnitureRentingAPI/obj/Debug/net6.0/Furnitur.1700E595.Up2Date
/FurnitureRentingAPI/FurnitureRentingAPI/obj/Debug/net6.0/FurnitureRentingAPI.AssemblyInfo.cs
/FurnitureRentingAPI/FurnitureRentingAPI/obj/Debug/net6.0/FurnitureRentingAPI.AssemblyInfoInputs.cache
/FurnitureRentingAPI/FurnitureRentingAPI/obj/Debug/net6.0/FurnitureRentingAPI.assets.cache
/FurnitureRentingAPI/FurnitureRentingAPI/obj/Debug/net6.0/FurnitureRentingAPI.csproj.AssemblyReference.cache
/FurnitureRentingAPI/FurnitureRentingAPI/obj/Debug/net6.0/FurnitureRentingAPI.csproj.CoreCompileInputs.cache
/FurnitureRentingAPI/FurnitureRentingAPI/obj/Debug/net6.0/FurnitureRentingAPI.csproj.FileListAbsolute.txt
/FurnitureRentingAPI/FurnitureRentingAPI/obj/Debug/net6.0/FurnitureRentingAPI.dll
/FurnitureRentingAPI/FurnitureRentingAPI/obj/Debug/net6.0/FurnitureRentingAPI.GeneratedMSBuildEditorConfig.editorconfig
/FurnitureRentingAPI/FurnitureRentingAPI/obj/Debug/net6.0/FurnitureRentingAPI.genruntimeconfig.cache
/FurnitureRentingAPI/FurnitureRentingAPI/obj/Debug/net6.0/FurnitureRentingAPI.pdb
/FurnitureRentingAPI/FurnitureRentingAPI/obj/Debug/net6.0/FurnitureRentingAPI.sourcelink.json
/FurnitureRentingAPI/FurnitureRentingAPI/obj/FurnitureRentingAPI.csproj.nuget.dgspec.json
/FurnitureRentingAPI/FurnitureRentingAPI/obj/FurnitureRentingAPI.csproj.nuget.g.props
/FurnitureRentingAPI/FurnitureRentingAPI/obj/project.assets.json
/FurnitureRentingAPI/FurnitureRentingAPI/obj/project.nuget.cache
/FurnitureRentingAPI/FurnitureRentingAPI/obj/Debug/net6.0/apphost.exe
/FurnitureRentingAPI/BussinessAccessLayer/bin/Debug/net6.0/Domain.dll
/FurnitureRentingAPI/BussinessAccessLayer/bin/Debug/net6.0/Infrastructure.dll
/FurnitureRentingAPI/BussinessAccessLayer/obj/Debug/net6.0/ref/Infrastructure.dll
/FurnitureRentingAPI/BussinessAccessLayer/obj/Debug/net6.0/refint/Infrastructure.dll
/FurnitureRentingAPI/BussinessAccessLayer/obj/Debug/net6.0/Infrastructure.dll
/FurnitureRentingAPI/DataAccessLayer/bin/Debug/net6.0/Domain.dll
/FurnitureRentingAPI/DataAccessLayer/obj/Debug/net6.0/ref/Domain.dll
/FurnitureRentingAPI/DataAccessLayer/obj/Debug/net6.0/refint/Domain.dll
/FurnitureRentingAPI/DataAccessLayer/obj/Debug/net6.0/Domain.dll
*.json
*.dll
/FurnitureRentingAPI/FurnitureRentingAPI/bin/Debug/net6.0/FurnitureRentingAPI.dll
/FurnitureRentingAPI/FurnitureRentingAPI/obj/Debug/net6.0/ref/FurnitureRentingAPI.dll
/FurnitureRentingAPI/FurnitureRentingAPI/obj/Debug/net6.0/refint/FurnitureRentingAPI.dll
*.user
