################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FurnitureRentingAPI/.vs/FurnitureRentingAPI/FileContentIndex/767e18c7-3656-4899-aef2-727b5a7c281a.vsidx
